In [28]:
import pandas as pd
import requests

url = 'http://www.ocearch.org/tracker/ajax/filter-sharks'
headers = {'Accept' : 'application/json'}
resp = requests.get(url, headers=headers)

df = pd.DataFrame (resp.json())

In [29]:
pingFrames=[]
for row in df.itertuples():
    pingFrame = pd.DataFrame(row.pings)
    pingFrame['id']=row.id
    pingFrames.append(pingFrame)
len (pingFrames)

275

In [30]:
pings = pd.concat(pingFrames)
pings.shape

(76082, 6)

In [31]:
pings ['datetime'] = pd.to_datetime (pings.tz_datetime)

In [32]:
pings.drop(columns=['tz_datetime'], inplace=True)
pings.head()

  active            datetime  id            latitude          longitude
0      1 2014-07-06 04:57:28   3           -34.60661           21.15244
1      1 2014-06-23 02:40:09   3           -34.78752           19.42479
2      1 2014-06-15 13:15:44   3           -34.42487           21.09754
3      1 2014-06-03 02:23:57   3  -34.70432271674724  20.21013441406251
4      1 2014-05-28 19:53:57   3           -34.65556           19.37459

In [33]:
pings.shape

(76082, 5)

In [34]:
columns = ['id','name','gender', 'species', 'weight', 'length', 'tagDate', 'dist_total']
df[columns].head()

,id,name,gender,species,weight,length,tagDate,dist_total
0,3,Oprah,Female,White Shark (Carcharodon carcharias),686 lb,9 ft 10 in.,7 March 2012,2816.662
1,4,Albertina,Female,White Shark (Carcharodon carcharias),1110 lb,11 ft 6 in.,8 March 2012,1830.593
2,5,Helen,Female,White Shark (Carcharodon carcharias),765 lb,10 ft 2 in.,8 March 2012,4436.661
3,6,Brenda,Female,White Shark (Carcharodon carcharias),1310 lb,12 ft 2 in.,8 March 2012,2966.902
4,7,Madiba,Male,White Shark (Carcharodon carcharias),659 lb,9 ft 8 in.,8 March 2012,3537.423

In [35]:
joined = pings.merge (df [columns], on='id')
joined.shape

(76082, 12)

In [36]:
joined.head()

,active,datetime,id,latitude,longitude,name,gender,species,weight,length,tagDate,dist_total
0,1,2014-07-06 04:57:28,3,-34.60661,21.15244,Oprah,Female,White Shark (Carcharodon carcharias),686 lb,9 ft 10 in.,7 March 2012,2816.662
1,1,2014-06-23 02:40:09,3,-34.78752,19.42479,Oprah,Female,White Shark (Carcharodon carcharias),686 lb,9 ft 10 in.,7 March 2012,2816.662
2,1,2014-06-15 13:15:44,3,-34.42487,21.09754,Oprah,Female,White Shark (Carcharodon carcharias),686 lb,9 ft 10 in.,7 March 2012,2816.662
3,1,2014-06-03 02:23:57,3,-34.70432271674724,20.21013441406251,Oprah,Female,White Shark (Carcharodon carcharias),686 lb,9 ft 10 in.,7 March 2012,2816.662
4,1,2014-05-28 19:53:57,3,-34.65556,19.37459,Oprah,Female,White Shark (Carcharodon carcharias),686 lb,9 ft 10 in.,7 March 2012,2816.662